.background{
  background-color: #ffffcc;
  width: 100%;
  background-position: center;
}
.box1{
  width: 1000px;
  height: 136px;
  margin: 0 auto;
  padding-top: 80px;
}
.circle{
  background-image: url("http://p1.bqimg.com/567571/5b5e1e942a627e8b.png");
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-color: white;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}
.article{
  padding: 0px;
  width: 750px;
  height: 134px;
  display: inline-block;
  border: white solid;
  border-width: 1px 1px 1px 0px;
  box-shadow: -6px 8px 33px #888888;
  vertical-align: top;
  background-color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  margin-left: 80px;
}
.title{
  margin-left: 30px;
  margin-top: 40px;
}
.a_title{
  font-size: 20px;
  color: #006699;
  text-decoration:none;
}
.sentence{
  font-size: 15px;
  margin-left: 30px;
  margin-right: 120px;
  margin-top: 30px;
}
