.login_picture{
  width: 370px;
  height: 250px;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: calc(50% - 100px);
}
.logo{
  width:100%;
  position: absolute;
  height: 200px;
  background-image: url("http://p1.bqimg.com/567571/5b5e1e942a627e8b.png");
  background-repeat: no-repeat;
  background-position: center;
}
.fx{
  color: white;
  width:100%;
  position: absolute;
  font-size: 18px;
  line-height: 350px;
}
.group{
  font-size: 22px;
  font-family: cursive;
  padding-top: 30px;
  box-sizing: border-box;
}
button{
  font-size: 20px;
  margin-top: 30px;
  background-color: #669966;
  color: white;
  border-style: none;
}
.input{
  display: inline-block;
  height: 34px;
  width: 200px;
  border:#cccccc solid;
  border-width: 2px 2px 2px 0px;
  padding: 0px;
}
.zhmm{
  display: inline-block;
  border: #cccccc 2px solid;
  height: 38px;
  padding: 1px 7px;
  box-sizing: border-box;
  vertical-align: top;//对齐
}
