@import '../login/login.scss';
.container{
  background-image: url("http://p1.bqimg.com/567571/f0d91cdbc9244147.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}
